#
# Git Global Config File
#
########################################################################################

# Always use Github user ID
[user]
    name             = Paolo de Dios
    email            = paolodedios@gmail.com

[core]
    autocrlf         = input
    eol              = lf
    filemode         = false
    logallrefupdates = true
    excludesfile     = /Users/paolodedios/.gitignore_global

[color]
   branch            = auto
   diff              = auto
   interactive       = auto
   status            = auto

[diff]
    tool             = Kaleidoscope
[difftool]
    prompt           = false
[difftool "Kaleidoscope"]
    cmd              = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool "sourcetree"]
    cmd              = opendiff \"$LOCAL\" \"$REMOTE\"
    path             =
[mergetool "sourcetree"]
    cmd              = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode    = true

[push]
    default          = simple
