#
# Git Global Config File
#
########################################################################################

# Always use Github user ID
[user]
    name             = Paolo de Dios
    email            = paolodedios@gmail.com

[core]
    autocrlf         = input
    eol              = lf
    filemode         = false
    logallrefupdates = true
    excludesfile     = /Users/paolodedios/.gitignore_global

[color]
   branch            = auto
   diff              = auto
   interactive       = auto
   status            = auto

[push]
    default          = simple
